@import './var';
@import './mixins';
$animation_duration:1s;
$animation_delay:.6s;
@keyframes fadeInLeft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pageIndex {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 120% 120%;
  }
  // 100% {
  //   background-size: 100% 100%;
  // }
}

@keyframes rainbow {
  0%,
  100% {
    background-color: $c_primary;
  }
  16% {
    background-color: $c_success;
  }
  32% {
    background-color: $c_info;
  }
  48% {
    background-color: $c_warning;
  }
  64% {
    background-color: $c_danger;
  }
}

.a-fadeIn {
  animation-name: fadeInLeft;
  animation-duration: $animation_duration;
  animation-delay: $animation_delay;
  animation-fill-mode: both;
}
