@import './var';
@import './mixins';
.container {
  margin-left: 20px;
  margin-right: 20px;
}

a {
  color: #555;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-size: $f_base;
}

html,
body {
  height: 100%;
}

.body {
  padding: 90px 10px 50px 10px;
  @extend %clearfix;
  min-height: 100%;
  margin: 0 auto -50px;
}

.inner {
  @extend %middle;
}

input {
  outline: 0;
  border: 1px solid $c_primary;
}

.hide {
  display: none;
}
