@import './var';
@import './mixins';
.footer {
  $height: 30px;
  @extend %clearfix;
  padding: 10px;
  color: #fff;
  text-align: left;
  background-color: $c_primary;
  clear: both;
  .coryight,
  .social {
    line-height: $height;
  }
  .social {
    span {
      position: relative;
      @include inline-block($height, $height);
      &.wechat {
        @include bgi('iwechat.png');
      }
      &:hover {
        i {
          display: inline-block;
        }
      }
      i {
        top: -120px;
        left: -30px;
        position: absolute;
        display: none;
        width: 100px;
        height: 100px;
        &.wechat {
          @include bgi('weixin.jpg');
        }
      }
    }
  }
}
