@import './var';
@import './mixins';
.footer {
  @extend %clearfix;
  padding: 10px;
  color: #fff;
  text-align: center;
  background-color: $c_primary;
  .coryight,
  .social {}
  .coryight {
    margin: 10px 0;
  }
  .social {
    span {
      position: relative;
      @include inline-block(30px, 30px);
      &.wechat {
        @include bgi('iwechat.png');
        vertical-align: middle;
      }
      &:hover {
        i {
          display: inline-block;
        }
      }
      i {
        top: -120px;
        left: -35px;
        position: absolute;
        display: none;
        width: 100px;
        height: 100px;
        &.wechat {
          @include bgi('weixin.jpg');
        }
      }
    }
  }
}
