@import 'base';
.header {
  height: 70px;
  background-color: #fff;
  border-bottom: 5px solid $brand-primary;
  ul {
    list-style-type: none;
    margin: 0;
    li {
      float: left;
    }
  }
}
