@import './var';
%plr {
  padding-left: 30px;
  padding-right: 30px;
  transition: all .3s ease-in-out;
}

%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

%btn {
  line-height: $button_height;
  border-radius: $button_radius;
}

@mixin btn($color, $color_hover) {
  @extend %plr;
  @extend %btn;
  background-color: $color;
  border-color: transparent;
  outline: 0;
  color: #fff;
  &:hover {
    background-color: $color_hover;
  }
}

@mixin btn-outline($color) {
  @extend %plr;
  @extend %btn;
  background-color: #fff;
  border: 1px solid $color;
  color: $color;
  &:hover {
    background-color: $color;
    color: #fff;
  }
}

@mixin inline-block($width:40px, $height:40px) {
  display: inline-block;
  width: $width;
  height: $height;
}

@mixin bgi($imgAdr) {
  background: url(../../img/#{$imgAdr}) no-repeat;
  background-size: 100% 100%;
  vertical-align: top;
}
