$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #1abc9c !default;
$brand-success:             #2ecc71 !default;
$brand-info:                #3498db !default;
$brand-warning:             #f1c40f !default;
$brand-danger:              #e74c3c !default;
$brand-inverse:             $gray-dark !default;
