//颜色
$c_gray:#333;
$c_primary: #1abc9c;
$c_primary_hover:#16a085;
$c_success: #2ecc71;
$c_success_hover: #27ae60;
$c_info: #3498db;
$c_info_hover: #2980b9;
$c_warning: #f1c40f;
$c_warning_hover: #f39c12;
$c_danger: #e74c3c;
$c_danger_hover: #d35400;
$c_invest:#34495e;
$c_invest_hover:#2c3e50;
//字体
$f_base:12px;
$f_big:14px;
//输入框
$input_height:40px;
$input_radius:20px;
$input_padding_left:30px;
//按钮
$button_height:40px;
$button_radius:30px;
// 表单
$form_padding:20px 10px;
