@import '~normalize.css';
@import '../components/mixins';
@import '../components/common';
@import '../components/grid';
@import '../components/header';
@import '../components/footer';
@import '../components/btn';
.slider {
  background: url(../../img/index_bg3.jpg) no-repeat;
  background-size: 100% 100%;
  padding: 200px 0;
  text-align: center;
  height: 100%;
}
