@import '../../bussiness/index';
@import '../../components/form';
.body {
  text-align: center;
  font-size: 30px;
  .inner {
    display: none;
  }
  i {
    @include inline-block(150px, 150px);
  }
  .success {
    i {
      @include bgi('isuccess.png');
    }
  }
  .failed {
    i {
      @include bgi('ifailed.png');
    }
    color:$c_danger;
  }
}
