{% extends '../../layouts/index.html' %}{% block content %}
<div class="body">
  <div class="personal_info col-2 col-m-12">
    <span class="avatar"></span>
    <p>532837139@qq.com</p>
    <p>2016年10月22日加入</p>
    <hr />
    <ul class="dropdown-menu">
      <li><a href="">个人主页</a></li>
      <li><a href="">充值</a></li>
      <li>
        <a href=""></a>
      </li>
    </ul>
  </div>
  <div class="col-8 col-m-12">xxx</div>
</div>
<link href="/style/user/index.css" rel='stylesheet' />
<script src="/script/user/index.js"></script> {% endblock %}
