{% extends '../../layouts/index.html' %} {% block headerClass %}static{% endblock %}{% block content %}
<div class="body">
  <div class="form col-4 col-offset-4 col-m-12">
    <div class="form-block">
      <input type="text" name='username' placeholder="输入用户名/邮箱" regex="/\S+/" msg="用户名/邮箱不能为空">
    </div>
    <div class="form-block">
      <input type="password" name="password" placeholder="输入密码" regex="/\S+/" msg="密码不能为空">
    </div>
    <div class="form-block"></div>
    <button class="btn-primary">立即登录</button>
  </div>
</div>
<link href="/style/user/login.css" rel='stylesheet' />
<script src="/script/user/login.js"></script> {% endblock %}
