@import './index';
.body {
  padding-top: 90px;
  padding-bottom: 100px;
  .personal_info {
    padding: 20px;
    // .avatar {
    //   @include inline-block(100px, 100px);
    //   @include bgi('index_bg1.jpg');
    //   border-radius: 100%;
    // }
    ul {
      list-style-type: none;
      padding-left: 0;
      border-radius: $border_radius_base;
      li {
        a {
          text-align: center;
          @include inline-block(100%, 40px);
          line-height: 40px;
          border-bottom: 1px solid $c_bg;
          &:last-child {
            border-bottom: 0;
          }
        }
        // &:hover,
        &.active {
          a {
            background-color: $c_primary;
            color: #fff;
          }
        }
      }
    }
  }
  .content {
    padding: 0 10px;
  }
}
