<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>NBA数据库</title>
  <meta name="keywords" content="stat-nba,NBA,数据,数据库,历史数据,技术统计,历史记录,数据网站,数据统计,数据查询器,视频直播,球员对位,效率值,PER,打铁,薪金,薪水,TOP10,得分,篮板,助攻,盖帽,抢断,球员,总计,场均" ／>
  <meta name="description" content="stat-nba专注于数据，致力为球迷打造最全最专业的nba中文数据库。包含美国职业篮球协会1946年创建60余年来各类数据并提供强大的查询功能。精准，全面，自由，您的nba数据查询最佳选择。" ／>
</head>

<body>
  <header class="header">
    <ul class="">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </header>
  {% block content %}{% endblock %}
</body>

</html>
