<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{% block header %}{% endblock %} | Youths,做有趣的事.</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="description" content="Youths,Do Interest Things.Youths,发现有趣的事.Youths,做有趣的事." />
  <meta name="keywords" content="Youths、Do Interest Things、发现有趣的事、做有趣的事." />
</head>

<body>
  <header class="header {% block headerClass %}{% endblock %}">
    <a class="brand" href="/"><span>Y</span>ouths</a>
    <ul class="nav">
      <li><a href="/" class="text">首页</a></li>
      <li id="login" class="hide"><a href="javascript:void()" class="btn-primary">登录</a></li>
      <li id="register" class="hide"><a href="javascript:void()" class="btn-primary-outline">注册</a></li>
      <li class="dropdown hide" id="info">
        <a href="#">
          <!-- 好几年 -->
        </a>
        <ul class="dropdown-menu">
          <li><a href="/user/index">个人主页</a></li>
          <li><a href="">充值</a></li>
          <li><a href="javascript:void(0)" id="logout">登出</a></li>
        </ul>
      </li>
    </ul>
  </header>
  {% block content %}{% endblock %}
  <footer class="footer">
    <div class="coryight col-8">
      &copy;2014-2015 Youths
      <script type="text/javascript">
      var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cspan id='cnzz_stat_icon_1253446574'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/z_stat.php%3Fid%3D1253446574%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));
      </script>
    </div>
    <div class="social col-4">关注我们:
      <span class="wechat"><i class="wechat"></i></span>
    </div>
  </footer>
  {% block footer %}{% endblock %}
</body>

</html>
